# Kaggle Digit Recognizer

Get the data here: https://www.kaggle.com/c/digit-recognizer/data

In [1]:
import numpy as np
import pandas as pd

In [51]:
# LOAD DATA

train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")

In [3]:
train.shape # There are 42 thousand image samples.

(42000, 785)

Each image is 28 pixels in height and 28 pixels in width, for a total of 784 pixels in total. 

Each pixel has a single pixel-value associated with it, indicating the lightness or darkness of that pixel, with higher numbers meaning darker. This pixel-value is an integer between 0 and 255, inclusive.

In [4]:
train.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
X_train = train.iloc[:,1:].values
y_train = train.iloc[:,0].values

In [54]:
X_test = test.values

In [41]:
# STANDARDIZE

X_train = X_train / 255.0

In [55]:
X_test  = X_test / 255.0

## Model

In [47]:
import tensorflow as tf

In [48]:
# MODEL

#model = tf.keras.models.Sequential([tf.keras.layers.Dense(784, activation=tf.nn.relu),
#                                   tf.keras.layers.Dense(10, activation=tf.nn.softmax)])

In [98]:
model = tf.keras.models.Sequential([tf.keras.layers.Dense(784, activation=tf.nn.tanh),
                                    tf.keras.layers.Dense(10, activation=tf.nn.softmax)])

In [99]:
# COMPILE

model.compile(optimizer=tf.keras.optimizers.Adam(),
             loss='sparse_categorical_crossentropy',
             metrics=['accuracy'])

In [100]:
# TRAIN

model.fit(X_train, y_train, epochs=15)

Epoch 1/15
1313/1313 [==============================] - 8s 6ms/step - loss: 0.4335 - accuracy: 0.8683
Epoch 2/15
1313/1313 [==============================] - 7s 6ms/step - loss: 0.1768 - accuracy: 0.9444
Epoch 3/15
1313/1313 [==============================] - 8s 6ms/step - loss: 0.0984 - accuracy: 0.9691
Epoch 4/15
1313/1313 [==============================] - 8s 6ms/step - loss: 0.0741 - accuracy: 0.9769
Epoch 5/15
1313/1313 [==============================] - 7s 5ms/step - loss: 0.0490 - accuracy: 0.9845
Epoch 6/15
1313/1313 [==============================] - 8s 6ms/step - loss: 0.0357 - accuracy: 0.9875
Epoch 7/15
1313/1313 [==============================] - 9s 7ms/step - loss: 0.0243 - accuracy: 0.9925
Epoch 8/15
1313/1313 [==============================] - 8s 6ms/step - loss: 0.0189 - accuracy: 0.9944
Epoch 9/15
1313/1313 [==============================] - 8s 6ms/step - loss: 0.0140 - accuracy: 0.9957
Epoch 10/15
1313/1313 [==============================] - 8s 6ms/step - loss: 0.0107 - accuracy: 0.9968
Epoch 11/15
1313/1313 [==============================] - 8s 6ms/step - loss: 0.0112 - accuracy: 0.9965
Epoch 12/15
1313/1313 [==============================] - 9s 7ms/step - loss: 0.0095 - accuracy: 0.9971
Epoch 13/15
1313/1313 [==============================] - 9s 6ms/step - loss: 0.0077 - accuracy: 0.9974
Epoch 14/15
1313/1313 [==============================] - 8s 6ms/step - loss: 0.0125 - accuracy: 0.9958
Epoch 15/15
1313/1313 [==============================] - 8s 6ms/step - loss: 0.0071 - accuracy: 0.9975

In [101]:
# PREDICT

predictions = model.predict_classes(X_test)

/usr/local/Caskroom/miniconda/base/envs/london/lib/python3.9/site-packages/tensorflow/python/keras/engine/sequential.py:450: UserWarning: `model.predict_classes()` is deprecated and will be removed after 2021-01-01. Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
  warnings.warn('`model.predict_classes()` is deprecated and '

In [102]:
predictions

array([2, 0, 9, ..., 3, 9, 2])

### Submission

In [103]:
sample_submission = pd.read_csv("data/sample_submission.csv")

In [104]:
sample_submission.head()

   ImageId  Label
0        1      0
1        2      0
2        3      0
3        4      0
4        5      0

In [105]:
sample_submission["Label"] = model.predict_classes(X_test) # generate predictions on test set

/usr/local/Caskroom/miniconda/base/envs/london/lib/python3.9/site-packages/tensorflow/python/keras/engine/sequential.py:450: UserWarning: `model.predict_classes()` is deprecated and will be removed after 2021-01-01. Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
  warnings.warn('`model.predict_classes()` is deprecated and '

In [106]:
sample_submission.head()

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      0
4        5      3

In [107]:
sample_submission.to_csv("submission.csv", index=False) # save submission to csv

The score on the leaderboard for this submission was 0.97464.